.section {
	align-items: center;

	&-wrap {
		width: 100%;
	}

	h1 {
		color: $color-white;
		margin: 0;
	}

	&--hero {
		background-color: $color-pink;
		height: 450px;
		display: flex;
		padding-left: 55px;

		h1 {
			font-family: $heading-font;
			font-size: $title-font-size;
			text-align: left;
			margin-bottom: auto;
			width: 100%;
			font-size: 62px;
			font-weight: 300;

			//Desktop
			@media screen and (min-width: 1024px) {
				font-size: 96px;

			}

		}

		h2 {
			font-family: $h2-heading-font;
			font-size: 28px;
			text-align: left;
			max-width: 450px;
			width: 100%;
			font-weight: 300;

			//Desktop
			@media screen and (min-width: 1024px) {
				font-size: 36px;
			}
		}

		&--primary {
			background-color: $color-pink;
			padding: 55px;

			h1 {
				font-family: $h2-heading-font;
				font-size: $title-font-size;
				text-align: left;
				margin: 0;
				margin: auto;
			}

			h2 {
				font-family: $h2-heading-font;
				font-size: 36px;
				text-align: left;
				max-width: 450px;
			}
		}
	}
}