//
// Venue-detail specific ratings component
//


.venue {

    &_img {
        width: 100%;
        height: 600px;
        background-color: $color-provincial-pink;
        background-size: cover;
        background-position: left 20% bottom 50%;


        // tablet 770x - 615px,
        @media only screen and (min-width: 615px) and (max-width:770px) {
            height: 700px;
        }

        // 1026 desk - 795px,
        @media only screen and (min-width: 795px) and (max-width: 1026px) {
            height: 700px;
        }

        // anything bigger 1195px 
        @media only screen and (min-width: 1027px) {
            height: 800px;
        }
    }

    p {
        font-size: 16px;
        line-height: 12px;
        font-family: 'Roboto';
        font-weight: 400;
        margin-top: 0;
    }

    &_info-address {
        background: $color-light-green;
        padding: 60px;
        font-size: 12px;
    }

    &_rating-icon {
        background: $color-light-green;
        height: 113px;
        width: 113px;
        text-align: center;
    }

    &_rating {
        max-width: 120px;
        margin: 10px 5px;

        &-score {
            text-align: center;
            padding: 10px 0;
        }

        &-title {
            font-family: $subheading-font;
            text-align: center;
            font-size: 16px;
            margin: 0 auto;
        }
    }

    &_amenities {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 100px;

        &-icon {
            width: 100%;
            height: 75px;
            margin-top: 19px;
        }

        @media (min-width: 481px) and (max-width: 1023px) {
            display: flex;
            justify-content: space-evenly;
        }
    }

    &_hero_section {
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
        padding-top: 0px;
    }

    &_description {
        background-color: $color-provincial-pink;
        padding: 60px 30px;

        @media (min-width: 1023px) {
            text-align: center;
            p {
                margin-top: 0;
            }
        }
    }

    &_map h3 {
        font-family: $subheading-font;
        font-size: 20px;
        font-weight: 700;
        text-align: center;

        @media (min-width: 468px) {
            font-size: 28px;
        }
    }
}

.venue_slogan {
    h2 {
        font-size: 28px;
    }
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 60px 20px 60px 20px;
    background-color: $color-white;

    @media (min-width: 1023px) {
        background-color: $color-provincial-pink;
        padding: 60px 60px 0px 60px;
    }
}
