{% extends "layout.html" %}

{% block title %} About Us {% endblock %}

{% load static %}

{% block main %}

    <section class="title_section_block">
        <h1>About Us.</h1>
        <h2>Volunteer led project to curate co-working venues 
            around London.</h2>
        <p>This project is created &amp; maintained by <a href="https://twitter.com/devs_london">Polyglot Devs London</a>: a London based coding 
            group providing mentorship and support to individuals keen to 
            learn &amp; improve their coding skills.</p>
    </section>

{% endblock %}

