{% extends "layout.html" %}

{% block title %} About Us {% endblock %}

{% load static %}

{% block main %}

<section class="section section--primary about_us">
    <div class="section-wrap">
        <div class="container">
            <h1>About Us.</h1>
            <h2>Volunteer led project to curate co-working venues
                around London.</h2>
            <p>This project is created &amp; maintained by <a href="https://nostalgic-boyd-16b3b2.netlify.app/">Polyglot Devs
                    London</a>: a
                London based coding
                group providing mentorship and support to individuals keen to
                learn &amp; improve their coding skills.</p>
        </div>
    </div>

</section>

{% endblock %}