{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% load static %}

    {% block main %}

		<section>
			<h1>About Us.</h1>
            <p> Sharespots is a volunteer led project to curate some venues 
                around London that are ideal for group work.</p>
            <p>The team behind this is Polyglot Devs London. A London based coding 
                group providing mentorship and support to individuals keen to 
                learn/improve their coding skills.</p>
		</section>
	{% endblock %}

