{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% load static %}

    {% block main %}

		<section class='homepage_section_block'>
			<div>
				<h1>sharespots</h1>
				<h2>Find your perfect spot to work together</h2>
			</div>
		</section>
	{% endblock %}

	{% block search %}
		<section class='home_search_bar'>
			<form>
				<h3>Find a co-working spot</h3>
				<input type="text" name="search">
				<input type="submit" value="Search">
			</form>
		</section>
	{% endblock search %}

