{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% load static %}

{% block main %}
<section class='section section--hero'>
    <div class="section-wrap>
        <div class="container">
            <h1>Sharespots</h1>
            <h2>Find co-working friendly cafes in London</h2>
        </div>
    </div>
</section>
<section class="search_component">
    <div class="container">
        <div class="search_component-wrapper">
            <form method="GET" action="/search">
                <h3>Find a co-working spot</h3>
                <div class="search_component-container">
                    <input class="search_component-search" type="text" placeholder="Search a venue" name="search">
                    <input class="search_component-button" type="submit" value="Search">
                </div>
            </form>
        </div>
    </div>
</section>
<section class="listings">
    <div class="container">
        <h2>Recommended</h2>
        <ul class="unstyled-list">
            {% for venue in venues %}
            <li class="venue_listing">
                <div class="venue_listing-name-and-address">
                    <h4>{{ venue.name }} </h4>
                    <p>{{ venue.address_1 }},
                    {{ venue.address_2 }},
                    {{ venue.post_code }}
                    </p>
                </div>
            
                <div class="venue_listing-stars-and-button">
                    <div class="venue_listing-ratings-wrapper">
                        <div class="venue_listing-rating">
                            <p>Wifi</p>
                            <div>
                                {% for i in 12345|make_list %}
                                {% if forloop.counter <= venue.wifi %}
                                <span class="star star--filled">
                                    {% include 'images/star.svg' %}
                                </span>
                                {% else %}
                                <span class="star">
                                    {% include 'images/star.svg' %}
                                </span>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="venue_listing-rating">
                            <p>Food</p>
                            <div>
                                {% for i in 12345|make_list %}
                                {% if forloop.counter <= venue.food %}
                                <span class="star star--filled">
                                    {% include 'images/star.svg' %}
                                </span>
                                {% else %}
                                <span class="star">
                                    {% include 'images/star.svg' %}
                                </span>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    
                        <div class="venue_listing-rating">
                            <p>Atmosphere</p>
                            <div>
                                {% for i in 12345|make_list %}
                                {% if forloop.counter <= venue.atmosphere %}
                                <span class="star star--filled">
                                    {% include 'images/star.svg' %}
                                </span>
                                {% else %}
                                <span class="star">
                                    {% include 'images/star.svg' %}
                                </span>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    
                        <div class="venue_listing-rating">
                            <p>Sockets</p>
                            <div>
                                {% for i in 12345|make_list %}
                                {% if forloop.counter <= venue.sockets %}
                                <span class="star star--filled">
                                    {% include 'images/star.svg' %}
                                </span>
                                {% else %}
                                <span class="star">
                                    {% include 'images/star.svg' %}
                                </span>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    
                        <div class="venue_listing-rating">
                            <p>Coffee</p>
                            <div>
                                {% for i in 12345|make_list %}
                                {% if forloop.counter <= venue.coffee %}
                                <span class="star star--filled">
                                    {% include 'images/star.svg' %}
                                </span>
                                {% else %}
                                <span class="star">
                                    {% include 'images/star.svg' %}
                                </span>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <button class="see_details_button">
                        <a href="/venue-detail/{{ venue.id }}">See details</a>
                    </button>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="text_align_center">
            <button class="hero_button">
                <a href="{% url 'search' %}">See more co-working spots</a>
            </button>
        </div>
    </div>
</section>
<section class="hero_component_container">
    <div class="container">
        <div class="hero_wrapper">
            <div class="hero_info">
                <h3>The best creative spaces, cafes for a quiet spot away from work</h3>
                <p>Find a co-working spot Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas odio augue,
                    sollicitudin sed dui vitae, vulputate auctor nisl. Morbi mollis at mi quis tincidunt. Proin ac nisl
                    congue,
                    pretium mi et, convallis nunc. Aliquam ac posuere eros, eget interdum nisi. Integer a elementum
                    nisl,
                    sed
                    luctus nisl. Maecenas quis lacus fringilla, condimentum urna vitae, facilisis neque. Proin semper
                    aliquam
                    metus, eget imperdiet mi. Fusce consequat ac diam at accumsan.</p>
                <button class="hero_button">
                    <a href="{% url 'about' %}">About us</a>
                </button>
            </div>
            <div class="hero_image">
                <img class="menu_image" src="{% static "img/menu_image.svg" %}" alt="menu">
            </div>
        </div>
    </div>

</section>
{% endblock %}