{% extends "layout.html" %}

{% block title %} Home {% endblock %}

{% load static %}

    {% block main %}
		<section class='homepage_section_block'>
			<div>
				<h1>sharespots</h1>
				<h2>Find your perfect spot to work together</h2>
			</div>
		</section>
	{% endblock %}

	{% block search %}
		<div class='filler_space' id='filler_space_left'></div>
		<div class='home_search_bar'>
			<form>
				<h3>Find a co-working spot</h3>
				<br/>
				<div class="inner-searchbar-container">
					<input class="search-field" type="text" placeholder="Search by postcode" name="search">
					<input class="submit-button" type="submit" value="Search">
				</div>
			</form>
		</div>
		<div class='filler_space' id='filler_space_right'></div>
	{% endblock search %}

	{% block contents %}
		<section>
			<div>
			</div>
		</section>
	{% endblock contents %}