//
// Variables
//

@import "base/variables";

//
// Normalize
//
@import "normalize";

//
// Components
//
@import "components/navbar";
@import "components/title";
@import "components/layout";
@import "components/search_bar";
@import "components/star";

body {
  background-color: $color-pink;
  font-family: $base-font;
  font-weight: 300;
  color: $color-black;
}
