{% load static %}

<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>{% block title %} {% endblock %}| Share Spots</title>
        <!-- Latest compiled and minified CSS -->
    </head>
    <body>

   		<nav>
			<a href=''>Home</a>
			<a href=''>About</a>
			<a href=''>Contact</a>
		</nav>

        {% block layout %} {% endblock %}

        <script src="{% static 'index.js' %}" type="module"></script>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    </body>
</html>