{% load static %}

<!DOCTYPE html>
<html lang="en-gb">
    <head>
        <title>{% block title %} {% endblock %}| Share Spots</title>
        <!-- Latest compiled and minified CSS -->
    </head>
    <body>

        {% block layout %} {% endblock %}

        <script src="{% static 'main.js' %}" type="module"></script>
        <link href='https://fonts.googleapis.com/css?family=Monoton|Roboto' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway:300,700' rel='stylesheet' type='text/css'>
    </body>
</html>
