{% load static %}

<div class="footer">
    <div class="container">
        <div class="footer_nav">
            <ul>
                <li><a href="{% url 'homepage' %}" class='footer-item'>Home</a>
                <li><a href="{% url 'about' %}" class='footer-item'>About</a>
                <li><a href="{% url 'contact' %}" class='footer-item'>Contact</a>
            </ul>
        </div>
        <div class="footer_social">
            <p class="created">Created by Polyglot Devs London
                <a href="https://twitter.com/devs_london" target="_blank">@devs_london</a>
            </p>
        </div>
    </div>
</div>