{% load static %} 
<div class="footer-inner-wrap">
    <div class="footer-menu">
        <ul>
            <li><a href="{% url 'homepage' %}" class='footer--item'>Home</a>
            <li><a href="{% url 'about' %}" class='footer--item'>About</a>
            <li><a href="{% url 'contact' %}" class='footer--item'>Contact</a>
        </ul>
    </div>
    <div class="twitter">
        <p class="created">Created by Polyglot Devs London
        <a class="footer-twitter" href="https://twitter.com/devs_london" target="_blank">@devs_london</a> 
        </p>
    </div>
</div> 