{% extends 'base.html' %}
{% load static %}

{% block layout %}

<header>
    <nav class='navbar_header'>
        <a href="{% url 'homepage' %}" class='navbar_header--item {% if request.resolver_match.url_name == "homepage" %}active{% endif %}'>Home</a>
        <a href="{% url 'about' %}" class='navbar_header--item {% if request.resolver_match.url_name == "about" %}active{% endif %}'>About</a>
        <a href="{% url 'contact' %}" class='navbar_header--item {% if request.resolver_match.url_name == "contact" %}active{% endif %}'>Contact</a>
    </nav>
</header>

{% block main %}{% endblock %}

<footer>
    {% include 'footer.html' %}
</footer>

{% endblock %}