//
// Layout - generic / common layout component styles
//

@import "base/variables";


.index_header_block {
	display: flex;
	padding-left: 55px;
	flex-direction: column;
	align-items: flex-start;
}

.about_header_block {
	display: flex;
	padding-left: 55px;
	flex-direction: column;
	align-items: flex-start;
}

.contact_header_block {
	padding-left: 55px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.venue_container {
	padding-left: 55px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
