//
// Layout - generic / common layout component styles
//

@import "base/variables";

.container {
    padding: 30px;
    margin: 0px 50px;
}

.contents-container{
	background: white;
	height: -webkit-fill-available;
}