@import "base/variables";

@media screen 
	and (min-width: 1100px)
	and (max-width: 1280px) {
		.home_search_bar{
			position: absolute;
		    width: 552.69px;
		    height: min-content;
		    left: 590px;
		    top: 450px;
		}
}

@media screen 
	and (max-width: 1100px)
	and (min-width: 600px) {
		.home_search_bar{
			position: absolute;
		    width: max-content;
		    height: min-content;
		    left: 400px;
		    top: 450px;
		}
}

@media screen 
	and (max-device-width: 320px) {
		.home_search_bar{
			position: unset;
		    width: 100%;
		    height: min-content;
		}
}

.home_search_bar{
	background: $color-light-green;

	form{	
		padding: 30px;
	}

	h3{
		font-family: $subheading-font;
		font-size: 36px;
		font-style: normal;
		font-weight: 300;
	}

	.inner-searchbar-container{
		display: flex;
		justify-content: space-around;
		align-content: center;

		.search-field{
			height: 50px;
			width: 67%;
			border-width: 0px;
		}

		.submit-button{
			height: 53px;
			width: 29%;
			background-color: $color-light-pink;
		}
	}
	
}