//
// Variables
//

@import "base/variables";

.homepage_section_block {
	align-items: center;
    height: 450px;
    display: flex;
    padding: 0 30px 30px;
    margin: 0px 50px;

	h1 {
		color: $color-white;
		font-family: $heading-font;
		font-size: $title-font-size;
		font-weight: 300;
		text-align: left;
		margin-bottom: auto;
	}
	h2 {
		font-family: $h2-heading-font;
		font-size: 36px;
		font-weight: 300;
		text-align: left;
		max-width: 450px;
	  }
}

.title_section_block {
	h1 {
		color: $color-white;
		font-family: $h2-heading-font;
		font-size: $title-font-size;
		font-weight: 300;
		text-align: left;
		margin-bottom: auto;
	  }
	  
	  h2 {
		font-family: $h2-heading-font;
		font-size: 36px;
		font-weight: 300;
		text-align: left;
		max-width: 450px;
	  }
}