//
// Z-index
//

$zindex-layer-minus-1: -1 !default;
$zindex-layer-0: 0 !default;
$zindex-layer-1: 1001 !default;
$zindex-layer-2: 1002 !default;
$zindex-layer-3: 1003 !default;
$zindex-layer-4: 1004 !default;
$zindex-layer-5: 1005 !default;

//
// Colours
// colours are named using http://chir.ag/projects/name-that-color/
//

$color-white: #fff !default;
$color-black: #16162c !default;
$color-pink: #fe7273 !default;
$color-light-pink: #fab7c8 !default;
$color-dark-red: #f46a6b !default;
$color-light-green: #c7e3c4 !default;
$color-provincial-pink: #fef2f2 !default;
$color-light-brown: #dfd2d2 !default;
$color-yellow: #fee687 !default;

//
// Typography
//
$base-font: "Roboto", sans-serif;
$heading-font: "Monoton", cursive;
$subheading-font: "Raleway";
$base-font-color: $color-black !default;
$base-link-color: $color-pink !default;
$base-font: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans",
  "Helvetica Neue", sans-serif !default;
$heading-font: "Lato", -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans",
  "Helvetica Neue", sans-serif !default;
$quote-font: "Lato", -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans",
  "Helvetica Neue", sans-serif !default;

$h1-heading-font: $heading-font !default;
$h2-heading-font: $subheading-font !default;
$h3-heading-font: $heading-font !default;
$h4-heading-font: $heading-font !default;
$h5-heading-font: $heading-font !default;

// Title Font
$title-font-size: 36px;

$base-font-size: (
    base: 16px,
    sm: 16px,
    md: 16px,
    lg: 16px,
    xl: 18px,
) !default;
$base-line-height: (
    base: 24px,
    sm: 24px,
    md: 24px,
    lg: 26px,
    xl: 28px,
) !default;
$base-vertical-margin: (
    base: 20px,
    md: 25px,
) !default;
$h1-font-size: (
    base: 32px,
    md: 40px,
    lg: 48px,
    xl: 48px,
) !default;
$h1-line-height: (
    base: 40px,
    md: 45px,
    lg: 52px,
    xl: 52px,
) !default;
$h1-weight: normal;
$h1-margin-top: (
  base: 30px,
  lg: 40px,
) !default;
$h2-font-size: (
    base: 26px,
    md: 32px,
    lg: 36px,
    xl: 36px,
) !default;
$h2-line-height: (
    base: 30px,
    md: 40px,
    lg: 45px,
    xl: 45px,
) !default;
$h2-weight: normal;
$h2-margin-top: (
  base: 30px,
  lg: 40px,
) !default;
$small-font-size: (
    base: 14px,
    lg: 14px,
    xl: 14px,
) !default;
$small-line-height: (
    base: 20px,
    lg: 22px,
    xl: 22px,
) !default;


// Responsiveness
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default
$widescreen-enabled: true !default
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default
$fullhd-enabled: true !default